@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1 {
  @apply text-4xl mb-8 font-bold;
}

h2 {
  @apply text-3xl mb-8 font-bold;
}

h3 {
  @apply text-xl mb-2 font-bold;
}

p {
  @apply mb-2
}
